[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
pandas = "*"
elasticsearch = "*"
scikit-learn = "*"

[dev-packages]
tqdm = "*"
notebook = "*"

[requires]
python_version = "3.11"
